.landing


  header
    text-align: center
    color: #4a4a4a
    position: absolute
    z-index: 500
    width: 100%
    background: white

    img
      width: 350px
      position: absolute
      margin: 20px auto
      opacity: 0
      left: 0
      right: 0

  section
    position: relative
    padding-top: 90px
    width: 100%
    overflow: hidden

  footer
    text-align: center
    color: #4a4a4a
    padding: 15px

  .landing-content
    position: absolute
    z-index: 10
    -webkit-transform: skew(14deg)
    -moz-transform: skew(14deg)
    -o-transform: skew(14deg)
    width: 260px
    right: 50%
    color: #fff
    bottom: 100px
    margin-right: -130px
    text-align: center

    .landing-logo
      width: 100px
      margin: auto
      position: relative
      /* transform: scale(0) */

      &::after
        content: ""
        width: 100%
        height: 100%
        left: 0
        top: 0
        position: absolute
        background: white
        z-index: -1
        border-radius: 200px
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0)
        transform: scale(0)
        transition: all 300ms ease-in-out


    img
      display: block
      margin: 0px auto 25px
      width: 100px

  #hospitals:hover,#clinics:hover
    .landing-logo::after
      box-shadow: 0px 0px 30px 8px rgba(255, 255, 255, 0.5)
      transform: scale(1)



  .landing-container
    overflow: hidden
    height: 100%
    width: 100%

  .corp-container
    width: 57%
    height: 100%
    margin: 0px
    float: left
    margin-left: -7%

  #hospitals
    width: 100%
    height: 100%
    margin: 0px
    -webkit-transform: skew(-14deg)
    -moz-transform: skew(-14deg)
    -o-transform: skew(-14deg)
    background: #4a90e2
    overflow: hidden
    position: relative
    display: block

    .image
      background: url(../../assets/img/landing1.png) no-repeat
      background-size: auto 100%
      background-position: right top
      position: absolute
      top: 0px
      left: 0px
      right: -15%
      bottom: 0px
      -webkit-transform: skew(14deg)
      -moz-transform: skew(14deg)
      -o-transform: skew(14deg)

  .med-container
    width: 57%
    height: 100%
    margin: 0px
    float: right
    margin-right: -7%

  #clinics
    width: 57%
    height: 100%
    margin: 0px
    -webkit-transform: skew(-14deg)
    -moz-transform: skew(-14deg)
    -o-transform: skew(-14deg)
    background: #f5873b
    overflow: hidden
    position: relative
    display: block
    width: 100%
    height: 100%
    border-left: #fff solid 12px

    .image
      background: url(../../assets/img/landing2.png) no-repeat
      background-size: cover
      background-size: auto 100%
      background-position: left top
      position: absolute
      position: absolute
      top: -8px
      left: -15%
      right: 0px
      bottom: 0px
      -webkit-transform: skew(14deg)
      -moz-transform: skew(14deg)
      -o-transform: skew(14deg)

    .landing-content
      left: 50%
      margin-left: -130px

      // > div
      //   background: rgba(245, 135, 59, 0.85)

.logo-anim
  animation: logoFade 6200ms infinite ease-in-out

.logo-anim2
  animation: logoFade 6200ms 6200ms infinite ease-in-out



html.ismobile
  .landing
    padding-top: 0px

    section
      padding-top: 80px

    header img
      width: 230px

    #clinics
      &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgba(95, 42, 6, 0.2)

      .image
        left: -35%

      .landing-content
        left: 30vw
        margin-left: -100px
        bottom: 35px

    .med-container
      width: 100%
      margin-right: -50%

    #hospitals
      &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgba(8, 29, 53, 0.35)

      .image
        right: -35%

      .landing-content
        bottom: initial
        top: 35px
        right: 30vw
        margin-right: -100px

    .corp-container
      width: 100%
      margin-left: -50%

    .landing-content
      width: 200px

      #clinicContent,#businessContent
        display: none


@keyframes logoFade
  0%
    opacity: 0


  15%
    opacity: 1


  85%
    opacity: 1


  100%
    opacity: 0
