html:not(.ismobile) #page-loader {
  background-color: #3465aa;
}

.header-top{
  background: #3465aa;
}

.header-bot .nav ul li a.active {
    color: #3465aa;
}

.welcome .btn-primary{
  background: #f48436;
  border: 1px solid #f48436;
}

.info .col-md-4:nth-child(even) .info-box {
  background: #f48436;
}

.choose .side aside, .service-left aside, .service-right aside{
  background: #3465aa;
}

.service-center .service-img::after{
  background: #f48436;
}

.med-promo h1 {
    color: #3465aa;
}

.contact-box{
  background: #2c65b1;
}

#preloader{
  background: #3465aa;
}

.news-btn-container .btn {
  background: #ee7f1f;
  border-color: #d06b15;
}

.news-btn-container .btn.focus, .news-btn-container .btn:focus, .news-btn-container .btn:hover {
  background: #f15911;
  border-color: #f15911;
}
